<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Load Boston Application</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">Load Boston Application</h1>
      <hr />
      {% if result %}
      <h1>The house price will be {{result}}</h1>
      {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="per_capita_crime_rate">Crime Rate Per Capita:</label>
          <input
            type="number"
            step="0.00001"
            class="form-control"
            id="per_capita_crime_rate"
            name="per_capita_crime_rate"
          />
        </div>
        <div class="form-group">
          <label for="land_zoned_proportion">Land Zoned Proportion:</label>
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="land_zoned_proportion"
            name="land_zoned_proportion"
          />
        </div>
        <div class="form-group">
          <label for="industry_proportion">Proportion of Industry:</label>
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="industry_proportion"
            name="industry_proportion"
          />
        </div>
        <div class="form-group">
          <label for="charles_river_dummy">Charles River Dummy:</label>
          <input
            type="number"
            class="form-control"
            id="charles_river_dummy"
            name="charles_river_dummy"
          />
        </div>
        <div class="form-group">
          <label for="nitric_oxide_conc">Nitric Oxide Concentration:</label>
          <input
            type="number"
            class="form-control"
            step="0.0001"
            id="nitric_oxide_conc"
            name="nitric_oxide_conc"
          />
        </div>
        <div class="form-group">
          <label for="proportion_of_old">Proportion of Old Houses:</label>
          <input
            type="number"
            class="form-control"
            step="0.0001"
            id="proportion_of_old"
            name="proportion_of_old"
          />
        </div>
        <div class="form-group">
          <label for="weighted_distances">Weighted Distances:</label>
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="weighted_distances"
            name="weighted_distances"
          />
        </div>
        <div class="form-group">
          <label for="highway_accessibilty">Accessibility to Highway:</label>
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="highway_accessibilty"
            name="highway_accessibilty"
          />
        </div>
        <div class="form-group">
          <label for="property_tax_rate">Property Tax Rate:</label>
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="property_tax_rate"
            name="property_tax_rate"
          />
        </div>
        <div class="form-group">
          <label for="pupil_per_teacher">Pupil Per Teacher:</label>
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="pupil_per_teacher"
            name="pupil_per_teacher"
          />
        </div>
        <div class="form-group">
          <label for="blacks_ratio">Proportion of Blacks in Town:</label>
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="blacks_ratio"
            name="blacks_ratio"
          />
        </div>
        <div class="form-group">
          <label for="percentage_lower_status"
            >Percentage in Lower Status:</label
          >
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="percentage_lower_status"
            name="percentage_lower_status"
          />
        </div>
        <div class="form-group">
          <label for="median_value_homes">Median Value in Homes:</label>
          <input
            type="number"
            step="0.0001"
            class="form-control"
            id="median_value_homes"
            name="median_value_homes"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
