<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Load Boston Application</title>
  </head>
  <body>
    <h1>Load Boston Application</h1>
    <hr />
    <form action="">
      Crime Rate Per Capita:
      <input type="number" name="per_capita_crime_rate" /> <br />
      Land Zoned proportion:
      <input type="number" name="land_zoned_proportion" /> <br />
      Proportion of Industry:
      <input type="number" name="industry_proportion" /> <br />
      Charles River dummy: <input type="number" name="charles_river_dummy" />
      <br />
      Nitric Oxide Concentration:
      <input type="number" name="nitric_oxide_conc" /> <br />
      Proportion of Old houses:
      <input type="number" name="proportion_of_old" /> <br />
      Weighted distances: <input type="number" name="weighted_distances" />
      <br />
      Accessibility to highway:
      <input type="number" name="highway_accessibilty" /> <br />
      Property Tax Rate: <input type="number" name="property_tax_rate" /> <br />
      Pupil Per Teacher: <input type="number" name="pupil_per_teacher" /> <br />
      Proportion of Blacks in town: <input type="number" name="blacks_ratio" />
      <br />
      Percentage in lower status:
      <input type="number" name="percentage_lower_status" /> <br />
      <input type="submit" />
    </form>
  </body>
</html>
